body{
    background-color: #ddf1fa;
    font-family: 'Roboto', sans-serif;
}
h1{
    color:darkslategray
}
p{
    color: darkslategray;
}
hr{
    color:darkslategray
}
.btn{
margin: 15px;
}
.textArea{
        max-width: 80%;
         overflow:scroll;
         left: 10%;
}
img{
    border-style: solid;
    border-color: #ddf1fa;
    border-width: 2px;
    border-radius: 5px;
}